.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 14px 16px rgba(0, 0, 0, .06);
  border-radius: 6px;
  text-align: center;
  margin: auto;
}

.card-product h1 {
  font-family: $body-font;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.qr-no-link h2 {
  font-size: 1.4rem;
  opacity: .2;
}

@media only screen and (max-width: 770px){
  .card-product {
    padding: 0px 40px;
    background: transparent;
    box-shadow: none;
  }

  .card-product h1 {
    font-size: 37px;
  }
}

@media only screen and (max-width: 540px){
  .card-product {
    padding: 10px 50px;
    overflow: auto;
    height: 100vh;
    background: transparent;
    box-shadow: none;
  }

  .card-product h1 {
    font-size: 30px;
  }

  .qr-no-link h2 {
    font-size: 1.3rem;
  }
}